/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Muli', sans-serif;
  background-size: 100%;
  color: white;
  background: url("img/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  opacity: 0;
}

.navbar-fixed-top {
  background: rgba(255, 255, 255, 0.3);
}

.navbar-brand {
  position: relative;
}

.navbar-brand img{
  height: 28px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: blue;
}

.navbar-default .navbar-brand {
  color: white;
}

.opacity-xs {
  opacity: 0.3;
  background-color: white;
}

.flight-ticket {
  background-color: white;
  color: black;
}

.note {
  border-radius: 3px;
  color: #333;
  padding: 15px;
  margin: 0 0 20px 0;
  border-style: solid;
}

.note-primary {
  background-color: transparent;
  border-color: #337ab7;
  color: rgba(0, 0, 0, 0.87);
}

.note-top-striped {
  border-width: 5px 1px 1px 1px;
}

.white {
  color: white;
}

.white a:hover{
  color: white;
}

h1 {
  font-size: 25px !important;
}

.h2, h2 {
  font-size: 10px;
}

.flight-ticket p {
  background-color: white;
}

.m-b-lg {
  margin-bottom: 30px;
}

.col-md-5 {
  margin : 0 auto !important;
  float: none !important;
}

.page-header h1 {
  margin-left: 36%;
}

.select {
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  color:#555;
}

.scale_hover:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}


/* responsive */

@media screen and (max-width: 760px)
{
  background: none;
}
