<!doctype html>
<html>
	<head>
		<% include shared/header %>
		<style media="screen">
			.h1 {
				font-size: 30px !important;
			}

			h2,
			.h2 {
				font-size: 20px !important;
			}
			.h3 {
				font-size: 16px;
			}
			.m-t-sm {
				margin-top: 20px;
			}
			.tickets {
			  background-color: white !important;
			  margin-left: 260px !important;
			}
			.tickets:hover {
	 			box-shadow: 0px 0px 150px #000000;
    			z-index: 2;
				}
			.text-sm {
				font-size: 20px !important;
			}

			a:focus, a:hover {
				color: white !important;
			}

			body {
				background: url("img/image3.jpg");
				background-repeat: no-repeat;
				background-size: cover;
			}

			@media screen and (max-width: 1092px)
			{
			 .tickets {
				margin-left: auto !important;
			}

			  }
	</style>
	       <script src="plugin/wow.min.js"></script>
          <script>
          new WOW().init();
          </script>
	</head>
<body>
<div class="container">
<div class="m-t-sm">
	<h1 class="h1 white">Flights:</h1>
	<div class="row">
	    <div class="m-b-lg text-sm form-content">
	    </div>
	</div>
</div>
</div>
<script>
    var list = <%- list %>;
    var form = <%- form %>;
    var i = 0;

    while(list.hasOwnProperty(i)) {
        $('body').append('<div class="col-lg-8 flight-ticket note note-primary note-top-striped m-t-sm tickets wow fadeInUp scale_hover" > <table style="width:100%"><tr> <td><span class="h2">Billet Aller Simple </span></td> </tr> <tr id="price_'+i+'"> <td style=""><span class="h3">Price:</span></td> </tr> <tr> <td><span class="h3">Time:</span></td> <td><span>' + list[i]["time"] + '</span></td> </tr> <tr> <td><span class="h3">Escale:</span></td> <td><span>' + list[i]["escale"] + '</span></td> </tr> </table> </div>');
        var j = 0;
        while (list[i]['price'].hasOwnProperty(j)) {
            if (typeof list[i]['price'][j] != 'undefined') {
                $('#price_' + i).append('<td style="max-width: 80px;"><span>' + list[i]['price'][j] + ' €</span></td>');
            }
            else {
                $('#price_' + i).append('<td><span> Not available </span></td>');
            }
        	j++;
        }
        i++;
    }

    var s = "";
    if (form["number"] > 1) {
        s = "s"
    }
    $('.form-content').append('<span>Your flight search: </span><span>'+ form['from']+ ' - ' + form["to"] + '</span><br/><span>' + form["date"] + ', ' + form["number"] + ' adult'+s+'</span><br/><a class="white" href="/">Change your search</a>');

</script>
</body>

<% include shared/footer %>

</html>
